


<div class="ml-38" fxLayout="row wrap" fxLayoutGap="40px">
  <mat-card class="example-card ml-38 " *ngFor="let product of products" [style.background-image]="'url('+ product.productPicture[0].url + ')'">
    <div class="padding-bottom-8 vis ">
     <button  mat-raised-button class="clr" >Add to Cart</button>
     <button class="ml-68 clr" mat-raised-button >Edit</button>
    </div>
     <div class="padding-bottom-8 vis ">
      <mat-card-content class="padding-top-16"  class="clr">
        Price : {{product.price}} Tk
      </mat-card-content>
      <mat-card-content class="clr"> 
        Description  : {{product.description}}.
      </mat-card-content> 
     </div>
   </mat-card>
</div>
