.margin-bottom-32{
    margin-bottom: 32px;
  }
  
  .clr{
    color: #000;
  }

  
  .margin-bottom-matcard
{
    margin-bottom: 80px;
}

.margin-left-20{
    margin-left: 40px;
}

.example-card {
    width: 250px;
    height: 380px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 25px;
    margin-bottom: 20px;
    background: 	rgb(236, 233, 233);
  }
  .example-card:hover {
    background-color: rgba(190, 140, 140, 0.616);
    
    .vis{
      visibility: visible !important;
    }
  }

  .vis{
    visibility: hidden ;
  }


  .height-weight{
    background-size:auto 100%;
    height: 227px;
    width: 252px;
  }

  .p-0{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .padding-top-16{
    padding-top: 16px;
  }

  .padding-bottom-8{
    padding-bottom: 8px;
  }


  .ml-68{
    margin-left: 68px;
  }

  .width{
    width: 1700px ;
  }

  
.ml-38{
  padding-left: 38px !important;
}
  
.clr{
  background-color:  rgba(190, 140, 140, 0.616);
}