
 <div class="container">
    <h2>Register Form</h2>
 <app-generic-form
   [formFileName] = '"CompanySignUpForms"'
   [formName] = '"Register"'
   (filledupForm) = "AddCompany($event)"
 >

 </app-generic-form>


  </div>
