<div class="container">
  <h2>Add Category Form</h2>
<app-generic-form
 [formFileName] = '"AddCategoryToCompanyForms"'
 [formName] = '"Add Category"'
 (filledupForm) = "AddCategoryToCompany($event)"
>

</app-generic-form>


</div>

