
<mat-sidenav-container>
  <mat-sidenav  mode="side"
              opened="true"
              [fixedInViewport]="true"
              [fixedTopGap]="80">
              
              <div class="button">
               <div class="pt-44">
                <h1 class="navbar-menu-height-widht">Collections</h1>
                 <h1 class="navbar-menu-height-widht2">products</h1>
                 <h1 class="navbar-menu-height-widht2">Categories</h1>
                 <h1 class="navbar-menu-height-widht2">Designs</h1>
               </div>
              </div>


    </mat-sidenav>
    <div *ngIf="loggedInUser">
      <div class="mr-20" fxLayout="row" fxLayoutAlign="end center" >
        <div *ngIf="loggedInUser" >
          <span>Hey</span>
         <span class="padding-left-8">{{loggedInUser.userName}}</span>
        </div>
        <div>
      
         <div *ngIf="loggedInUser" class="padding-left-20" >
          <button mat-raised-button  class="clr" (click)="logOut()">LOG OUT</button>
        </div>
      </div>
        
      </div>


      <div class="margin-top padding-left margin-top-bottom-16">
        <button mat-raised-button class="button clr" (click)="addCategory()">Add Category</button>
        <span class=" margin-left-mat-header">Selectd Category : {{currentCategory?.categoryName}}</span>
      </div>
      <div fxLayout="row" class="margin-left-20 padding-left-30 margin-bottom-matcard">
          <mat-card class="example-card" *ngFor="let subCategories of currentSubCategoris" (click)="loadCurrentSubCategory(subCategories)">
            <mat-card-header class = "mt-10">
              <mat-card-title>{{subCategories.categoryName}}</mat-card-title>
            </mat-card-header>
          </mat-card>
      </div>
      <div class="margin-top padding-left">
        <button mat-raised-button  class="button margin-bottom-32 clr" (click)="addProduct()">Add Product</button>
      </div>
    
    <app-app-show-products *ngIf="currentCategory"
    [parentCategory] = 'currentCategory'></app-app-show-products>
    </div>
  </mat-sidenav-container>







