
 <div class="container">
    <h2>Register Form</h2>
 <app-generic-form
   [formFileName] = '"UserLoginForms"'
   [formName] = '"login"'
   (filledupForm) = "loginUer($event)"
 >

 </app-generic-form>


  </div>
