



<div *ngIf="!loggedInUser" class="homepageBackGroundImgae">

  <div fxFlex="20" >
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <!-- <mat-icon>menu</mat-icon> -->
      </button>
  </div>
  <div fxFlex="50">
      <p class="margin-top fs"><b>চল সাজি</b></p>
  </div>
 
  <div class="mt-50">

    <div *ngIf="!loggedInUser" fxFlex="50">
      <button mat-raised-button class="clr" (click)="SignUpAsCompany()">Sign Up As Company</button>
    </div>
    <div *ngIf="!loggedInUser" fxFlex="40">
      <button mat-raised-button class="clr"  (click)="SignUp()">Sign Up As Person</button>
    </div>

    <div *ngIf="!loggedInUser" fxFlex="15">
      <button mat-raised-button  class="clr" (click)="logIn()">LogIn</button>
    </div>


  </div>


</div>







