<form [formGroup]="form">
    <!-- {{ registerForm.value | json }} -->
  <div *ngFor="let fieldDefination of fieldDefinations">
    <div *ngIf="fieldDefination.type === 'String'" class="form-group">
      <label>{{fieldDefination.header}}</label>
      <input formControlName={{fieldDefination.key}} type="text" class="form-control padding-bottom-8">
      <div *ngIf="checkValidityForField(fieldDefination.key)">
        <span *ngIf="checkIsRequired(fieldDefination.key)">{{fieldDefination.header}} is required</span>
      </div>
    </div>
    <div *ngIf="fieldDefination.type === 'Boolean'" class="form-group">
      <label>{{fieldDefination.header}}</label>
      <div>
        <input type="radio" value='true' formControlName={{fieldDefination.key}} class="form-control padding-bottom-8">
          <span>Yes</span>
        <input type="radio" value='false' formControlName={{fieldDefination.key}} class="form-control padding-bottom-8">
          <span>No</span>
      </div>
      <div *ngIf="checkValidityForField(fieldDefination.key)">
        <span *ngIf="checkIsRequired(fieldDefination.key)">{{fieldDefination.header}} is required</span>
      </div>
    </div>
    <div *ngIf="fieldDefination.type === 'File'" class="form-group">
      <label>{{fieldDefination.header}}</label>
      <div>
        <input hidden type="file"
             (change)="onFileSelect($event,fieldDefination.key)"
             formControlName={{fieldDefination.key}}
              #fileInput/>

       <button
              (click)="fileInput.click()"
              aria-label="add file">
          <span >
            Browse for file<mat-icon>arrow_forward_ios</mat-icon>
          </span>
       </button>
       <img class="width-height" *ngIf="doesExistFileOnKey(fieldDefination.key)" src={{fileInputs[fieldDefination.key]?.Url}} alt="Italian Trulli">
      </div>
      <div *ngIf="checkValidityForField(fieldDefination.key)">
        <span *ngIf="checkIsRequired(fieldDefination.key)">{{fieldDefination.header}} is required</span>
      </div>
    </div>
  </div>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" class="mr-28 mt-44 mb-16">
    <button class="btn btn-secondary ml-2" type="button"  [mat-dialog-close]="true">Cancel</button>
    <button class="btn btn-primary" type="submit"  (click)="onSubmit()" [disabled]="form.status === 'INVALID'" [mat-dialog-close]="true">{{formName}}</button>
  </div>
</form>
