<div class="container">
  <h2>Product Form</h2>
<app-generic-form
 [formFileName] = '"AddProductToCompanyForms"'
 [formName] = '"Add Product"'
 (filledupForm) = "AddProductToCompany($event)"
>

</app-generic-form>


</div>

